
/* ConstructionCard.css */

.construction-card {
  width: 300px;
  background-color: #3d7e8a5b;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  /* Мобильная адаптация */
  @media (max-width: 768px) {
    width: calc(50% - 20px); /* Расчет ширины для двух колонок */
  }
  .prod-item__hidden-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  /* При наведении */
  &:hover {
    transform: translateY(-5px);
  }
}
.clouse{
  color: black;
}
.construction-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.construction-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 8px;
}

.construction-card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}
