.construction-details-modal {
<<<<<<< HEAD
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:before {
    opacity: .75;
    color: #ea0e0e;
}
/* ConstructionDetailsModal.css */

.property-info {
  margin-bottom: 20px; /* Add margin at the bottom */
}

.property-info p {
  margin: 5px 0; /* Add margin to paragraphs */
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="tel"],
button {
  margin-bottom: 10px; /* Add margin between input fields and button */
  padding: 8px; /* Add padding to input fields and button */
  border: 1px solid #ccc; /* Add border to input fields and button */
  border-radius: 5px; /* Add border radius */
  font-size: 16px; /* Adjust font size */
}

input[type="text"],
input[type="tel"] {
  width: 100%; /* Set input width to 100% */
}

button[type="submit"] {
  background-color: #007bff; /* Change background color */
  color: #fff; /* Change text color */
  cursor: pointer; /* Add cursor pointer */
  transition: background-color 0.3s; /* Add transition effect */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Change background color on hover */
}

@media (max-width: 768px) {
  /* Adjust form styles for mobile devices */
  form {
    padding: 0 20px; /* Add padding to the form */
  }

  input[type="text"],
  input[type="tel"] {
    font-size: 14px; /* Reduce font size */
  }
}

input[type="text"] {
  width: 20%;
  /* padding: 10px; */
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  margin-bottom: 10px;
}
.modal-content {
  height: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  /* max-height: 90%; */
  overflow: auto;
}
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  h2 {
    text-align: center;
  }
  
  .property-info {
    margin-top: 20px;
  }
  
  .property-info p {
    margin-top: 11px;
    color: #0d0c0ccc;
    text-align: center;
}
  
  .gallery {
    position: relative;
    width: 80%;
    height: 300px; /* Высота галереи на мобильных устройствах */
  }
  
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
=======
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.95); /* Полупрозрачный белый цвет */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 60%;
  width: 60%;
  max-height: 80%;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.construction-details-modal.open {
  opacity: 1;
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.gallery {
  position: relative; /* Для позиционирования кнопок внутри галереи */
  text-align: center; /* Для выравнивания кнопок по центру */
}

.prev-btn,
.next-btn {
  position: absolute; /* Абсолютное позиционирование относительно родительского элемента */
  top: 50%; /* Расположение по вертикали на 50% от верхнего края галереи */
  transform: translateY(-50%); /* Сдвиг кнопок вверх на 50% от их собственной высоты, чтобы они оказались по центру */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev-btn {
  left: 5%;
  transform: translate(-50%, -50%);
}
.next-btn {
  right: 170px; /* Расположение кнопки "вперед" справа */
}

.property-info {
  margin-top: 20px;
}

/* Анимация */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-enter {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-exit {
  animation: fadeOut 0.3s ease-in-out;
}
>>>>>>> ab1e8c522159e5b39be430e741cbc1bdf323c7af
