/* ConstructionCard.css */

/* Стили для контейнера домашней страницы */
.homepage-container {
  padding: 20px;
}

/* Стили для заголовка домашней страницы */
.homepage-heading {
  color: black;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Стили для списка свойств */
.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Стили для карточек свойств */
.property-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-between;
  flex-direction: row;
}

.prod-item__mark--hit {
  position: absolute; /* Абсолютное позиционирование */
  top: 0; /* Расположение вверху */
  right: 0; /* Расположение справа */
}



.property-card {
  text-align: center;
  background-color: #e4d8d8;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.property-card h3 {
  margin-bottom: 10px;
  cursor: pointer;
}

.property-card p {
  margin-bottom: 5px;
}

.property-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
/* ConstructionCard.css */

.property-card__image-container {
  position: relative;
}

.hit-image {
  position: absolute;
  top: -10px; /* Расположение относительно верхнего края */
  right: -10px; /* Расположение относительно правого края */
  z-index: 1; /* Чтобы быть выше основного изображения */
}

.hit-image img {
  width: 50px; /* Размер изображения hit */
}

/* Стили для модального окна */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.tabs {
  margin-right: 150px;
  margin-top: 90px;
}

.close {
  margin-right: 150px;
  margin-top: 90px;
}

@media screen and (max-width: 768px) {
  /* Мобильная адаптация */
  .property-card {
    width: 100%; /* Полная ширина карточки на мобильных устройствах */
  }
  .modal-content {
    width: 90%; /* Ширина модального окна на мобильных устройствах */
    max-height: 90%; /* Максимальная высота модального окна на мобильных устройствах */
    padding: 20px; /* Поля внутри модального окна на мобильных устройствах */
  }
}
/* ConstructionCard.css */

/* ConstructionCard.css */

/* Дополнительные стили для изображения в карточке */
.property-card {
  position: relative;
}

.property-image {
  position: relative;
}

.with-hit-image .hit-image {
  position: absolute;
  top: 0;
  right: 0;
}
.prod-item__mark, .prod-item__mark--hit {
  position: absolute;
  top: -6px;
  right: -8px;
  width: 99px;
  height: 99px;

  background-position: -99px 0;
  /* width: max-content; */
  opacity: 2;

  /* position: static; */
}