<<<<<<< HEAD
/* Общие стили для всех устройств */
=======
/* Стили для мобильных устройств */
@media only screen and (max-width: 600px) {
  /* Ваши стили для мобильных устройств */
}

/* Стили для планшетов и мобильных устройств в альбомной ориентации */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Ваши стили для планшетов и мобильных устройств в альбомной ориентации */
}

/* Стили для планшетов и устройств среднего размера */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  /* Ваши стили для планшетов и устройств среднего размера */
}
>>>>>>> ab1e8c522159e5b39be430e741cbc1bdf323c7af
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
/* Стили для мобильных устройств */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* Стили для планшетов и мобильных устройств в альбомной ориентации */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 16px;
  }
}

/* Стили для планшетов и устройств среднего размера */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  body {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
  }
}

=======
>>>>>>> ab1e8c522159e5b39be430e741cbc1bdf323c7af
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
