/* MortgageCalculator.css */

.calculator-container {
<<<<<<< HEAD
  
=======
>>>>>>> ab1e8c522159e5b39be430e741cbc1bdf323c7af
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out; /* Анимация появления */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
<<<<<<< HEAD
.mortgage-calculator{
  padding: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.input-group{
  text-align: center;
}
=======

.form-group {
  margin-bottom: 15px;
}

>>>>>>> ab1e8c522159e5b39be430e741cbc1bdf323c7af
label {
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
<<<<<<< HEAD
.calculator-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  justify-content: space-evenly;
}
button {
  margin: 5px;
  padding: 10px 10px;
  background-color: #005a87b3;
=======

button {
  padding: 10px 20px;
  background-color: #007bff;
>>>>>>> ab1e8c522159e5b39be430e741cbc1bdf323c7af
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
<<<<<<< HEAD
  font-size: 13px;
  transition: background-color 0.3s ease-in-out;
=======
  font-size: 16px;
  transition: background-color 0.3s ease-in-out; /* Плавное изменение цвета при наведении */
>>>>>>> ab1e8c522159e5b39be430e741cbc1bdf323c7af
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
}

.instructions {
  margin-top: 30px;
}

.instructions h4 {
  margin-bottom: 10px;
}

.instructions p {
  margin-bottom: 5px;
}

.instructions strong {
  font-weight: bold;
  color: #007bff;
}

/* Медиа-запросы для адаптивности на мобильных устройствах */
@media (max-width: 768px) {
<<<<<<< HEAD
 
=======
  .calculator-container {
    padding: 10px;
  }
>>>>>>> ab1e8c522159e5b39be430e741cbc1bdf323c7af

  input[type="number"] {
    font-size: 14px;
  }

  button {
<<<<<<< HEAD
    color: #eff0f1c7;
=======
>>>>>>> ab1e8c522159e5b39be430e741cbc1bdf323c7af
    font-size: 14px;
  }
}

