
.real-estate-catalog {
 
  padding: 20px;
}
.property-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .property-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .bottom-center-heading {
    margin-top: 250px; /* Уменьшаем верхний отступ */
    font-size: 1 rem; /* Уменьшаем размер шрифта */
  }
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 90px;
  font-weight: bold;
  color: #009688;
}